<!-- header -->
<app-header [themeLogo]="themeLogo"></app-header>

<!-- section start -->
<section class="contact-page register-page section-b-space">
  <div class="container">
    <div class="card">
      <h4 class="card-header">Add New Coin</h4>
      <div class="card-body">
        <div class="card-text">
          <form class="theme-form" [formGroup]="createCoinForm">
            <div class="row">
              <div class="col-md-6">
                <label for="name" class="form-label">Name *</label>
                <input type="text" class="form-control" formControlName="name" required="">
              </div>
              <div class="col-md-6 select_input">
                <label for="type" class="form-label">Bullion Type *</label>
                <select class="form-control" formControlName="bullionType">
                  <option *ngFor="let type of bullionOptions" [value]="type">{{ type }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="review">PCGS Link</label>
                <input type="url" class="form-control" formControlName="pcgsURL">
              </div>
              <div class="col-md-6 select_input">
                <label for="type">Format *</label>
                <select class="form-control" formControlName="format">
                  <option *ngFor="let format of formatOptions" [value]="format">{{ format }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="mintMark">Mint Mark</label>
                <input type="text" class="form-control" formControlName="mintMark">
              </div>
              <div class="col-md-6">
                <label for="quantity">Quantity *</label>
                <input type="number" class="form-control" formControlName="quantity">
              </div>
              <div class="col-md-6">
                <label for="purchasePrice">Purchase Price</label>
                <input type="text" class="form-control" formControlName="purchasePrice">
              </div>
              <div class="col-md-6">
                <label for="weight">Weight *</label>
                <input type="text" class="form-control" formControlName="weight">
              </div>
              <div class="col-md-6">
                <label for="imageKey">Image Key</label>
                <input type="text" class="form-control" formControlName="imageKey">
              </div>
              <div class="col-md-6">
                <label for="percentage">Preciouse Metal Percentage</label>
                <input type="text" class="form-control" formControlName="percentage">
              </div>
              <div class="col-md-12">
                <label for="email">Description *</label>
                <textarea class="form-control" formControlName="description"></textarea>
              </div>
              <div class="col-md-12 ">
                <button class="btn btn-sm btn-solid float-end" [disabled]="!createCoinForm.valid" (click)="addCoin()">Add</button>
              </div>
              <div class="col-md-12 ">&nbsp;</div>
              <hr />
              <div class="col-md-6">
                  <input type="file" class="form-control" id="customFile" accept="image/png, image/jpeg, image/jpg" (change)="imageSelected($event)" />
                  <button  [disabled]="!selectedFile" class="btn btn-sm btn-solid" (click)="uploadImage()">
                    Upload
                  </button>
              </div>
            </div>
          </form>
         

        </div>
      </div>
    </div>
  </div>
</section>



<!-- Section ends -->

<!-- footer -->
<app-footer-one></app-footer-one>