<!-- header -->
<app-header [themeLogo]="themeLogo"></app-header>

<app-breadcrumb title="Silver Collection" breadcrumb="Home"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/american_silver_eagle.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>coins</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../coins" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/bar.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>bars</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../bars/list" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/silver_buffalo.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>rounds</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../rounds" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/junk_silver.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>junk</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../junk" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<!-- footer -->
<app-footer-one></app-footer-one>
