<!-- header -->
<app-header [themeLogo]="themeLogo"></app-header>

<!-- section start -->
<section class="contact-page register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Add New Coin</h3>
        <form class="theme-form">
          <div class="row">
            <div class="col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" required="">
            </div>
            <div class="col-md-6 select_input">
              <label for="type">Bullion Type</label>
              <select class="form-control">
                <option *ngFor="let type of bullionOptions" [value]="type">{{ type }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="review">PCGS Link</label>
              <input type="url" class="form-control" id="pcgsURL">
            </div>

            <div class="col-md-6 select_input">
              <label for="type">Type</label>
              <select class="form-control">
                <option *ngFor="let type of typeOptions" [value]="type">{{ type }}</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="mintMark">Mint Mark</label>
              <input type="text" class="form-control" id="mintMark">
            </div>
            <div class="col-md-6">
              <label for="quantity">Quantity</label>
              <input type="number" class="form-control" id="quantity">
            </div>
            <div class="col-md-6">
              <label for="purchasePrice">Purchase Price</label>
              <input type="text" class="form-control" id="purchasePrice">
            </div>
            <div class="col-md-6">
              <label for="weight">Weight</label>
              <input type="text" class="form-control" id="weight">
            </div>
            <div class="col-md-12">
              <label for="email">Description</label>
              <textarea class="form-control" id="description"></textarea>
            </div>
            <div class="col-md-12">
              <button class="btn btn-sm btn-solid" type="submit">Add</button>
            </div>
          </div>
        </form>
        <br />
        <div class="row">
          <div class="col-md-6">
          <input type="file" id="imageUpload" name="imageUpload" accept="image/png, image/jpeg, image/jpg" (change)="imageSelected($event)" />
        </div>
        <div class="col-md-6">
          <button  class="btn btn-sm btn-solid" (click)="uploadImage()">
            Upload
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->

<!-- footer -->
<app-footer-one></app-footer-one>