<!-- header -->
<app-header [themeLogo]="themeLogo"></app-header>

<app-breadcrumb [title]="'Silver Collection'" [breadcrumb]="'Home'"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/american_silver_eagle.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>coins</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/bar.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>bars</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/silver_buffalo.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>rounds</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/products/silver/junk_silver.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>junk</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row partition-collection section-t-space">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/5.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/6.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/7.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img src="assets/images/collection/8.jpg" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h4>(20 products)</h4>
                        <h3>fashion</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a [routerLink]="['/home/fashion']" class="btn btn-outline">shop now !</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!--Section ends-->

<!-- footer -->
<app-footer-one></app-footer-one>
