<app-header [sticky]="true" *ngIf="url != '/pages/comingsoon'"></app-header>
<app-breadcrumb
  [title]="breadCrumbTitle"
  [breadcrumb]="breadCrumbPath"
></app-breadcrumb>
<!-- section start -->
<ng-container *ngIf="products$ | async as products; else loading">
  <section class="section-b-space blog-detail-page review-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ul class="comment-section">
            <div *ngFor="let product of products">
              <li>
                <div class="media">
                  <img src="{{product.presignedURL}}" *ngIf="product.presignedURL !== null"/>
                  <div class="media-body">
                    <h6>
                      <a routerLink="../{{ product.id }}">{{ product.name }}</a>
                      <span *ngIf="product.mintMark"
                        >( {{ product.mintMark }} )</span
                      >
                    </h6>
                    <p>{{ product.description }}</p>
                    <p>&nbsp;</p>
                    <p style="font-weight: 700">
                      Quantity: {{ product.quantity }} &nbsp; Price: ${{
                        product.purchasePrice
                      }}
                    </p>
                    <ul class="comnt-sec" *ngIf="product.pcgsURL">
                      <li>
                        <a
                          href="{{ product.pcgsURL }}"
                          target="_blank"
                          rel="noopener noreferrer"
                        >
                          <i class="fa-solid fa-arrow-up-right-from-square">
                            PCGS
                          </i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <br />
            </div>
          </ul>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #loading>
  <p>LOADING</p>
</ng-template>
<!-- section end -->
<app-footer-one></app-footer-one>
