<!-- header -->
<app-header></app-header>

<app-breadcrumb  [title]="breadcrumbTitle" [showCreateButton]="showCreateButton"></app-breadcrumb>
<!--section start-->
<section class="collection section-b-space">
    <div class="container">
        <div class="row partition-collection">
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img [src]="coinURL" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>coins</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../coin/list" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img [src]="barURL" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>bars</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../bar/list" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img [src]="roundURL" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>rounds</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../round/list" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="collection-block">
                    <img [src]="junkURL" class="img-fluid" alt="">
                    <div class="collection-content">
                        <h3>junk</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                        <a routerLink="../junk/list" class="btn btn-outline">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<!-- footer -->
<app-footer-one></app-footer-one>
